<%= simple_form_for(@communication_device) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <label for="title"><%= f.label :communication_device_id %></label>
    <%= f.text_field :cdid, :class => "form-control", :placeholder => "Enter communication device id"  %>
  </div>

  <div class="form-group">
    <label for="title"><%= f.label :phone_number %></label>
    <%= f.text_field :phone_number, :class => "form-control", :placeholder => "Enter phone_number"  %>
  </div>

  <div class="form-group">
    <label for="title"><%= f.label :device_type %></label>
    <%= f.text_field :device_type, :class => "form-control", :placeholder => "Enter device type"  %>
  </div>

  <div class="form-group">
    <label for="title"><%= f.label :device_model %></label>
    <%= f.text_field :device_model, :class => "form-control", :placeholder => "Enter device model"  %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: "btn" %>
  </div>
<% end %>
