<h1>Listing Communication devices</h1>

<table class="table">
  <thead>
    <tr>
      <th>cdid</th>
      <th>Phone number</th>
      <th>Device type</th>
      <th>Device model</th>
      <th>Last communicated at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @communication_devices.each do |communication_device| %>
      <tr>
        <td><%= communication_device.cdid %></td>
        <td><%= communication_device.phone_number %></td>
        <td><%= communication_device.device_type %></td>
        <td><%= communication_device.device_model %></td>
        <td><%= communication_device.last_communicated_at %></td>
        <td><%= link_to 'Edit', edit_communication_device_path(communication_device) %></td>
        <td><%= link_to 'Destroy', communication_device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Communication device', new_communication_device_path %>
