<h1>Listing Member Groups (Total: <%= @member_groups.count %>)</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Number of members</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_groups.each do |member_group| %>
      <tr>
        <td><%= member_group.name %></td>
        <td><%= member_group.description %></td>
        <td><%= member_group.grouped_members.length %></td>
        <td><%= link_to 'Manage Members', member_group_grouped_members_path(member_group) %></td>
        <td><%= link_to 'Show', member_group %></td>
        <td><%= link_to 'Edit', edit_member_group_path(member_group) %></td>
        <td><%= link_to 'Destroy', member_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Member group', new_member_group_path %>