<p id="notice"><%= notice %></p>

<p>
  <strong>MID:</strong>
  <%= @meter.mid %>
</p>

<p>
  <strong>Bluetooth MAC Address:</strong>
  <%= @meter.bluetooth_mac %>
</p>

<p>
  <strong>Model:</strong>
  <%= @meter.model %>
</p>

<p>
  <strong>Display Name:</strong>
  <%= @meter.display_name %>
</p>

<%= link_to 'Edit', edit_meter_path(@meter) %> |
<%= link_to 'Back', meters_path %>
