<%= simple_form_for([@member, @measurement]) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <label for="title"><%= f.label :glucose_value %></label>
    <%= f.number_field :glucose_value, :class => "form-control", :placeholder => "Enter glucose value"  %>
  </div>

  <div class="form-group">
    <label for="title"><%= f.label :measured_at %></label>
    <%= f.datetime_select :measured_at, :class => "form-control", :placeholder => "Enter measured_at"  %>
  </div>

  <div class="form-group">
    <label for="title"><%= f.label :code_number %></label>
    <%= f.number_field :code_number, :class => "form-control", :placeholder => "Enter code number"  %>
  </div>

  <div class="form-group">
    <label for="title"><%= f.label :reading_type %></label>
    <%= f.text_field :reading_type, :class => "form-control", :placeholder => "Enter reading type"  %>
  </div>

  <!-- Meter -->
  <div class="form-group">
    <label for="title"><%= f.label :reading_type %></label>
    <%= f.text_field :reading_type, :class => "form-control", :placeholder => "Enter reading type"  %>
  </div>

  <div class="form-group">
    <label for="title"><%= f.label :is_archived? %></label>
    <%= check_box("measurement", "archive", checked: @measurement.archived? ? true : false)  %>
  </div>

  <input type="hidden" name="measurement[member_id]" value="<%= @member.id %>">

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
