<h1>Listing measurements</h1>
<h4>Found <%= @measurements.count %> measurements</h4>

<table class="table">
  <thead>
    <tr>
      <th>Glucose Level</th>
      <th>Measured at</th>
      <th>Retrieved at</th>
      <th>Code Number</th>
      <th>Reading Type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        <td><%= measurement.glucose_value %><% if measurement.archived? %>
          <span class="label label-info">Archived</span>
          <% end %></td>
        <td><%= measurement.measured_at %></td>
        <td><%= measurement.retrieved_at %></td>
        <td><%= measurement.code_number %></td>
        <td><%= measurement.reading_type %></td>
        <td><%= link_to 'Edit', edit_member_measurement_path(@member, measurement) %></td>
        <td><%= link_to 'Show', member_measurement_path(@member, measurement) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Measurement', new_member_measurement_path if current_user.is_a? CaseManager %>
