<h1>Listing members</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Member ID</th>
      <th>Email</th>
      <th>Show Measurements</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %>
        <% if member.archived? %>
          <span class="label label-info">Archived</span>
          <% end %></td>
        <td><%= member.member_number %></td>
        <td><%= member.email %></td>
        <td><%= link_to "Show Measurements", member_measurements_path(member) %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } if current_user.has_role? :case_manager_admin   %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path if current_user.has_role? :case_manager_admin  %>
