<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<%= link_to 'View Message history', email_messages_path(@member) %> |
<%= link_to 'Contact', new_email_message_path(@member) %> | <%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
