<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 well">
        <h2><i class="fa fa-user"></i> <%= @member.name %></h2><%= link_to 'Edit', edit_member_path(@member) %>
        <p>ID: <%= @member.member_number %></p>
        <p>Phone: <%= number_to_phone @member.phone_number %></p>
        <p><%= link_to 'Message history', member_email_messages_path(@member), class: "btn btn-primary" %> <%= link_to 'Contact', new_member_email_message_path(@member), class: "btn btn-success" %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 well">
        <h2>Alerts</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 well">
        <h2>Notes</h2>
        <%= form_for @member do |f| %>
          <div class="form-group">
            <%= f.text_area :note, :class => "form-control", :placeholder => "Enter notes", style: "width: 100%; height: 250px", cols: "20"  %>
          </div>

          <div class="actions">
            <%= f.button :Save, class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 well">
        <h2><i class="fa fa-user-md"></i>Case Managers</h2>
        <table class="table">
        <th>
          <tr>
            <td>Name</td>
            <td></td>
          </tr>
        </th>
        <tbody>
          <% @member.managed_members.each do |managed_members| %>
          <tr>
            <td><%= managed_members.case_manager.name %></td>
            <td><% if managed_members.primary %><span class="label label-success">Primary</span><% end %></td>
          </tr>
          <% end %>
        </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <div class="row">
      <div class="col-md-12 well">
        <%= render 'meters/table' %>
      </div>
    </div>
     <div class="row">
      <div class="col-md-12 well">
        <%= render 'measurements/table' %>
      </div>
    </div>
  </div>
</div>
