<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %> <% if @member.archived? %>
          <span class="label label-info">Archived</span>
          <% end %></td>
</p>

<%= link_to 'View Measurement history', member_measurements_path(@member) %> | 
<%= link_to 'View Message history', member_email_messages_path(@member) %> |
<%= link_to 'Contact', new_member_email_message_path(@member) %> | 
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
